contractions==0.1.73
deep-translator==1.11.4
Flask==2.3.2
Flask-Cors==5.0.0
groq==0.12.0
langdetect==1.0.9
nltk==3.8.1
deep-translator==1.11.4
langdetect==1.0.9
numpy==1.26.4
pandas==2.2.3
python-dotenv
scikit-learn==1.5.2
chromadb==0.5.20
langchain==0.3.8
langchain_community==0.3.8
tiktoken==0.8.0
sentence_transformers==3.3.1
faiss-cpu==1.7.4
fpdf==1.7.2
werkzeug==2.3.3
matplotlib